@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
.jaro {
    font-family: "Jaro", serif;;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  
.jersey-25-regular {
    font-family: "Jersey 25", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  